body {
  margin: 0;
  padding: 0;
}

#navigation {
  top: 0;
  left: 0;
  width: 22%;
  height: 100%;
  color: #fff;
  font-size: 20px;
  text-align: start;
  border-right: 3px solid #949292;
  z-index: 999; /* Ensure the header appears above other elements */
}

#header {
  position: sticky;
  top: 0;
  color: #010101;
  background-color: #ffffff;
  padding: 10px;
  font-size: 28px;
  text-align: left;
  padding-left: 22px;
}

#main-thing {
  margin-top: 60px; /* Adjust this value to match the height of your header */
  height: calc(100vh - 60px); /* Adjust this value to account for the header height */
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px 0 10px 22px;
  border-bottom: 1px solid black;
}

.nav-link {
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  cursor: pointer;
}

.main-body {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}
  