body {
  margin: 0;
  padding: 0;
  min-width: 290px;
  color: #4d4e53;
  background-color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 22%;
  min-height: 100vh;
  font-size: 20px;
  text-align: start;
  border-right: 3px solid #949292;
  overflow-y: auto; /* Enable scrolling when content exceeds the container's height */
}

#header {
  position: sticky;
  top: 0;
  color: #010101;
  background-color: #fff;
  padding: 10px;
  font-size: 28px;
  text-align: left;
  padding-left: 22px;
  z-index: 3;
}

#header1,
#header2,
#header3,
#header4,
#header5,
#header6,
#header7,
#header8,
#header9,
#header10,
#header11,
#header12,
#header13,
#header14 {
  top: 0;
  color: #010101;
  background-color: #fff;
  padding: 10px;
  font-size: 28px;
  text-align: left;
  padding-left: 22px;
  z-index: 3;
}

#navigation table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto; /* Enable scrolling when content exceeds the container's height */
  position: absolute;
}

td {
  padding: 10px 0 10px 22px;
  border-bottom: 1px solid black;
}

.nav-link {
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  cursor: pointer;
}

.main-body {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0 0 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 425px) {
  #main-body {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
